html,body,div,h1,h2,h3,h4,h5,h6,p,img,dl,dt,dd,ol,ul,li,table,caption,tbody,tfoot,thead,tr,th,td,form,fieldset,embed,object,applet {margin:0;padding:0;border:0}
body {font-size:80%;font-family:Arial,sans-serif;color:#000;background:#fff}
a {color:#00c}
a:active {color:red}
a:visited {color:#551a8b}
table {border-collapse:collapse;border-width:0;empty-cells:show}
ul {padding:0 0 1em 1em}
ol {padding:0 0 1em 1.3em}
li {line-height:1.5em;padding:0 0 .5em 0}
p {padding:0 0 1em 0}
h1,h2,h3,h4,h5 {padding:0 0 1em 0}
h1,h2 {font-size:1.3em}
h3 {font-size:1.1em}
h4,h5,table {font-size:1em}
sup,sub {font-size:.7em}
input,select,textarea,option {font-family:inherit;font-size:inherit}
th, td { text-align: left;vertical-align: top; }

.doc {font-size:130%, width:100%;text-align:left}
.section:after {content:".";display:block;height:0;clear:both;visibility:hidden}
.unit .section:after {clear:none}
.unit .section {width:100%;overflow:hidden}
.section,.unit {zoom:1}
.unit .section:after  {clear:none}
.unit .section  {width:100%;overflow:hidden}
.section,.unit  {zoom:1}
.tpl-nest .unit  {float:left;width:auto;display:inline;margin:0}
.runit  {float:right;width:auto;display:inline;margin:0}

.bold { font-weight: bold; }
.heading { vertical-align: bottom;  margin-bottom: 10px; padding: 0; }
.form-heading {  margin: 0; padding: 0 2px; }
.row { clear: both; padding: 5px 0; display: block; }
.row label { float: left; width: 120px; margin-left: 5px;  margin-top: 2px; }
.message { background: #fbb; border: 1px solid #ddd; padding: 2px; margin: 1em 1em 1em 1em; }

.rounded-box-600px {
  margin: 2px;
  padding: 2px;
  border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; 
  border: 1px solid grey;
  width: 600px;
}

.width-600px {
  margin: 2px;
  padding: 2px;
  width: 600px;
}

fieldset {
  margin: 2px;
  padding: 2px;
  border: 1px solid grey;
}

table { 
  margin: 2px;
  padding: 2px;
  border: 1px solid grey;
  width: 100%; 
}
td,th { 
  padding: 2px; 
  border: 1px solid #789DB3;
}
img.centered { display: block; margin-left: auto; margin-right: auto }

fieldset.readonly {
  background: #eee;
}
input.readonly {
  background: #eee;
}
label {
  float: left;
  text-align: right;
  width: 150px;
}
div.field {
  margin-left: 150px;
}
ul.field {
  margin-left: 150px;
}
li.field {
  list-style-type:none;
}
td.name, th.name{
  width: 200px;
}
td.email, th.email {
  width: 200px;
}
input.full {
  width: 200px;
}
input.half {
  width: 100px;
}
input.qtr {
  width: 50px;
}
.errmsg {
  color: red;
}
#nav-bar {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #5184d2;
  padding: 5px 5px 0 5px;
}
#nav-bar-items {
  margin: 0;
  padding: 0;
  font-weight: bold;
}
#nav-bar-items li {
  margin: 0 6px 0 0;
  padding: 6px 10px 5px 10px;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  background: #3a6aad;
}
#nav-bar-items li.nav-active {
  background: #fff url(/static/navbg.png) repeat-x 0 100%;
}
#nav-bar-items li a {
  text-decoration: none;
  display: block;
  text-align: center;
  color: #fff;
  outline: 0;
}
#body-content {
  margin: 10px 15px;
  padding: 7px;
  border: 1px solid #ccc;
  background: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
#footer-content {
  margin: 10px 15px;
  padding: 7px;
  border: 1px solid #ccc;
  background: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
