<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Boat Alarm - Help</title>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />
</head>

<body>
  <div id="nav-bar" class="section">
    <ul id="nav-bar-items" class="tpl-nest">
      {% for elt in nav_bar %}{% if elt.active %}<li class="unit nav-active">{{ elt.title }}</li>
      {% else %}<li class="unit"><a href="{{ elt.url }}">{{ elt.title }}</a></li>{% endif %}
      {% endfor %}
    </ul>
  </div>

  <div id="body-content">
  <div id="header"><h1>Boat Alarm Help</h1></div>

  <p style="color:red">
  <em>NB: Boat Alarm has been deprecated.
  Please use <a href="http://netreceiver.appspot.com">Net Receiver</a> instead.</em>
  </p>

  <p>
  Boat Alarm is a free application to monitor your boat and send
  alarms by email. Boat Alarm requires an Arduino-compatible
  microprocessor to be placed on your vessel where it can be connected
  to both shore power and battery power. This is the "client" and will
  cost you less than US $25 in parts. The client periodically monitors
  the health of its power connections and reports problems to the
  service over WiFi and the Internet. The service is completely free,
  and the source code for both the client and the service is also free
  and open source.
  </p>

  <p>
  If you'd like to try Boat Alam but lack the technical skills to do
  so yourself, please <a href="/register?v=INQUIRY">register
  interest</a> by specifying "INQUIRY" (all uppercase) for your vessel
  name.
  </p>

  <h2>Alarms</h2>
  <p>
  Alarms are invoked via HTTP GET methods on the Boat Alarm service.
  In the jargon, Boat Alarm uses a simple REST interface, as follows:<br>
  /alarm?<b>k</b>=KEY&amp;<b>v</b>=VESSEL&amp;<b>a</b>=ALARM&amp;<b>ad</b>=ALARM_DATA&amp;<b>ac</b>=ACTION&amp;<b>acd</b>=ACTION_DATA. 
  </p>

  <p>
  Alarms are colon-separated strings, which are completely user-definable. For example:
  <ul>
  <li>Power:ShorePowerLoss
  <li>Power:BatteryVoltageLow
  <li>Motion:Departed<sup>*</sup>
  <li>Motion:AnchorDrift<sup>*</sup>
  <li>System:BilgePumpRunning<sup>*</sup>
  </ul>
  <em>( <sup>*</sup> not yet implemented.)</em>
  </p>

  <p>
  In order for the service to send email, the <em>email</em> action
  must be specified and action data must be set to the colon-separated
  pair: <em>recipient:message</em>. For example:<br>
  <b>ac</b>=email&<b>acd</b>=joe@bloggs.com:Message goes here
  </p>

  <p>
  Alternatively, omit the message as follows:<br>
  <b>ac</b>=email&<b>acd</b>=joe@bloggs.com
  </p>


  <h3>Alarm Configuration</h3>

  <p>Alarms are configured in the client software via the <em>Alarm</em> array. Alarm fields in order are:<br/>
  <ol>
    <li>alarm name
    <li>alarm pin
    <li>report value (true to report value, false not to report)
    <li>expected value (if digital, otherwise ignored)
    <li>low threshold (if analog)
    <li>high threshold (if analog)
    <li>scale (= voltage divider ratio, if analog)
  </ol>
  </p>
  
  <p>The default configuration is as follows:
  <pre>
  Alarm alarms[] = {
    { "Power:ShorePowerLoss", "D2", false, HIGH },
    { "Power:BatteryVoltageLow", "A0", true, 12600, 12000, INT_MAX, 16.0 }
  }; 
  </pre>
  </p>

  <p>
  There's no limit to how many alarms you may choose to
  implement. It's just up to you and your Arduino prowess.
  </p>

  <h3>Shore Power Loss</h3>
  <p>
  The first alarm senses shower power on digital port 2 (D2) where HIGH is expected.
  To utilize this alarm, ensure both your client hardware AND your
  WiFi access port are powered by battery, not shore power!
  </p>

  <h3>Battery Voltage Low</h3>
  <p>
  The second alarm senses battery voltage on analog port 0 (A0) where
  the normal range is above 12V (i.e., 12000mV), To utilize this
  alarm, use a voltage divider to scale down the maximum battery
  voltage to the range of your client hardware's Analog/Digital
  Convertor (ADC).
  </p>

  <h2>Notifications</h2>
  <p>
  Boat Alarm sends notification emails
  from <b>boatalarmservice@gmail.com</b>, so ensure this address is
  not treated as spam by your email provider. Note that this email
  address is not monitored.
  </p>

  <p>
  Notification emails always have the subject <b>URGENT: Boat
  Alarm</b>. The maximum number of notifications is one per
  hour. Alarms raised more frequently than the notification period
  result in a <b>RecentlyNotified</b> error.
  </p>

  <h2>Security</h2>
  <p>
  Alarms without a valid key are ignored. The key is a 16-byte long
  randomly generated string (technically, it's 12 bytes encoded in
  base 64). Further, the key <em>must</em> correspond to the
  registration with the correct vessel name. This is to stop you from
  getting spammed. Your vessel name may be well known (mine is
  <a href="http://blog.arribasail.com/p/arriba.html">"Arriba"</a>) 
  but they will need to guess your key before you'll receive
  any email notifications. Obtain your key by registering 
  <a href="/register">here</a>. Please keep your key secret.
  </p>

  <p>
  <em>CAVEAT: Unfortunately Arduino does not have the oomph to provide
  encryption, so keys are sent to the service in the clear, making them
  vulnerable to so-called "man in the middle" attacks. Why anyone
  would care to intercept your boat alarms is another matter though.</em>
  </p>

  <h2>Client Software</h2>
  <p>
  The default client is an Arduino program ("sketch"). You can
  download the source code for the
  client <a href="https://bitbucket.org/scruzin/boatalarm">here</a>.
  </p>

  <h3>Configuration</h3>
  <p>
  The client is configured by setting the following definitions
  located at the top of boatalarm.ino:
  </p>

  <ul>
  <li>WLAN_SSID: your vessel's WiFi network SSID
  <li>WLAN_KEY: your vessel's WiFi network key
  <li>WLAN_SECURITY: your vessel's WiFi network security type
  <li>BA_VESSEL: the name of your vessel registered with Boat Alarm
  <li>BA_KEY: your Boat Alarm key
  <li>EMAIL_DATA: your email address and an optional message to yourself, separated by a colon
  </ul>

  <p>
  Set DEBUG to true to enable debug statements.
  </p>

  <h2>Client Hardware</h2>
  <p>
  The client has been tested running on (1) an Arduino Uno R3 with a
  CC3000 WiFi shield and (2)
  the <a href="https://www.adafruit.com/products/2471">Adafruit HUZZAH ESP8266</a>.
  </p>

  <p style="color:red">
  <em>STOP PRESS: I have found the CC3000 WiFi shield to be unreliable and recommend using the ESP8266 instead.</em>
  </p>

  <h3>Digital Pin 2</h3>
  <p>
  This pin measures shore power, albeit indirectly by measuring the
  output voltage from a <em>mains</em> USB adapter (<em>not</em> a 12V
  adapter). Ensure the USB voltage is relative to ground by connecting
  the USB black wire to one of the ground pins. For the Arduino limit
  the digital pin voltage to a maximum of 5.0V and for the ESP 8266
  limit it to 3.3V.
  </p>

  <h3>Analog Pin 0</h3>
  <p>
  This measures battery voltage (Vbat). For the Arduino use a 3:1
  voltage divider (to limit the ADC to 5V) and for the ESP 8266 use a
  16:1 voltage divider (to limit the ADC to 1V) You can combine the
  battery power supply with the voltage divider as shown below. The
  red wire supplies VBat and the yellow wire supplies Vbat/16.</p>

  <img src="/static/12V_adapter_and_16_to_1_divider.jpg">

  <h3>Alarm Pin</h3>
  <p>
  For the CC3000 version, Boat Alarm writes HIGH to digital pin 7
  whenever an alarm has been triggered. For the ESP8266 version, Boat
  Alarm writes LOW to digital pin 0, the built in LED.  The pin is
  alarmed until conditions are normal again.
  </p>

  <h3>Internet Connection</h3>
  <p>
  The default client uses a WiFi connection to reach the
  Internet. This could be an old Android phone running in tethering
  mode, or your boat's access point (if you have one), or your
  marina's WiFi, if you're so lucky. Just ensure your access point is
  battery powered and does not rely on shore power. 
  </p>
  <p>
  Note that Boat Alarm does <en>not</em> require a WiFi connection
  that is either permanent or 100% reliable. Boat Alarm connects to
  the WiFi network only after it has detected changes, and will keep
  trying to reconnect indefinitely until it is successfully able to
  connect and send an alarm. Between alarms Boat Alarm disconnects
  from the WiFi network and puts the WiFi shield into standby mode,
  both to save power and improve reliability.
  </p>

  <h2>See Also</h2>
  <p>
  <ul>
  <li><a href="http://blog.arribasail.com/2016/05/tech-boat-alarm-shore-power-and-battery.html" target="_new">Most recent blog post</a> <em>(read first)</em>
  <li><a href="http://blog.arribasail.com/2015/11/tech-boat-alarm-free-boat-monitoring.html" target="_new">Original blog post</a> 
  <li><a href="https://www.arduino.cc/en/Guide/HomePage" target="_new">Getting started with Arduino</a> 
  <li><a href="https://learn.adafruit.com/adafruit-huzzah-esp8266-breakout/using-arduino-ide" target="_new">Using the Arduino IDE with the HUZZAH ESP8266</a>
  <li><a href="http://boatalarm.appspot.com/log?v=Test&skipper=Test" target="_new">Boat Alarm test log</a>
  </ul>
  </p>

  <h2>License</h2>
  <p>
  Boat Alarm is Copyright &copy; 2015-2016 Alan Noble.
  </p>

  <p>
  Boat Alarm is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  </p>

  <p>
  Boat Alarm is distributed in the hope that it will be useful, but
  WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See
  the <a href="http://www.gnu.org/licenses/">GNU General Public
  License</a> for details.
  </p>

  </div><!-- body-content -->

  <div id="footer-content">
  <p><em>{{ disclaimer }}</em></p>
</body>
</html>
