<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Boat Alarm</title>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />
</head>

<body>
  <div id="nav-bar" class="section">
    <ul id="nav-bar-items" class="tpl-nest">
      {% for elt in nav_bar %}{% if elt.active %}<li class="unit nav-active">{{ elt.title }}</li>
      {% else %}<li class="unit"><a href="{{ elt.url }}">{{ elt.title }}</a></li>{% endif %}
      {% endfor %}
    </ul>
  </div>

  <div id="body-content">
  <div id="header"><h1>Boat Alarm</h1></div>

  <p style="color:red">
  <em>NB: Boat Alarm has been deprecated.
  Please use <a href="http://netreceiver.appspot.com">Net Receiver</a> instead.</em>
  </p>

  <p>
  Boat Alarm is a free application to monitor your boat and send
  alarms by email. Register your vessel with Boat Alarm
  <a href="/register"> here</a>. The service is completely
  free, and the source code is also free and open source.
  </p>

  <p>
  There are two parts to Boat Alarm, the <em>client</em> and
  the <em>service</em>.
  </p>

  <h2>Client (Arduino)</h2>
  <p>
  The client is an Arduino program ("sketch") running on an
  Arduino-compatible microcontroller device installed on your
  vessel. The client hardware monitors shower power, batteries and
  other devices. The client must also have a connection to the
  Internet in order to be able to communicate with the service. The
  default client implementation uses WiFi to communicate via a nearby
  onboard wireless access point, but other approaches are
  possible. You can download the source code for the
  client <a href="https://bitbucket.org/scruzin/boatalarm">here</a>.
  </p>

  <h2>Service (App Engine)</h2>
  <p>
  The service is an App Engine program (written in Python) which
  listens for alarms and sends notification emails. Notifications are
  sent at most once every 60 minutes. The service is also how you
  register your vessel with Boat Alarm. Register
  <a href="/register"> here</a>. You can download the source code for
  the service
  <a href="https://bitbucket.org/scruzin/boatalarm-service">here</a>.
  </p>

  <h2>Technical Details</h2>
  <p>
  Read <a href="/help">the help</a> to learn more about how Boat Alarm
  works.
  </p>
 
  <h2>Contact Details</h2>
  <p>
  The author, Alan Noble, can be contacted
  via <a href="http://blog.arribasail.com">his blog</a> or the
  <a href="https://plus.google.com/communities/111631553918680575094">Google+ Sailing community</a>.
  </p>
 
  </div><!-- body-content -->

  <div id="footer-content">
  <p><em>{{ disclaimer }}</em></p>
</body>
</html>
