<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Boat Alarm - Register</title>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />
</head>

<body>
  <div id="nav-bar" class="section">
    <ul id="nav-bar-items" class="tpl-nest">
      {% for elt in nav_bar %}{% if elt.active %}<li class="unit nav-active">{{ elt.title }}</li>
      {% else %}<li class="unit"><a href="{{ elt.url }}">{{ elt.title }}</a></li>{% endif %}
      {% endfor %}
    </ul>
  </div>

  <div id="body-content">
  <div id="header"><h1>Boat Alarm Registration</h1></div>

  <p style="color:red">
  <em>NB: Boat Alarm has been deprecated.
  Please use <a href="http://netreceiver.appspot.com">Net Receiver</a> instead.</em>
  </p>

  {%if err %}<div id="err" class="errmsg">{{ err }}</div>{% endif %}
  {%if msg %}<div id="msg">{{ msg }}</div>{% endif %}

  <div>
    <form enctype="multipart/form-data" action="/register" method="post">
    <fieldset>
      <legend>Registration details</legend>
      <label>Skipper name:</label>
      <input type="text" name="skipper" value="{{ skipper }}" class="full"><br>
      <label>Email address:</label>
      <input type="text" name="email" value="{{ email }}" class="full"><br>
      <label>Vessel name:</label>
      <input type="text" name="v" value="{{ vessel }}" class="full"><br>
      <label>Country:</label>
      <select name="country">
        <option value="">- Select country -</option>{% for cc in countries %}
        <option value="{{ cc.code }}"{%if country == cc.code %} selected{% endif %}>{{ cc.name }}</option>{% endfor %}
      </select><br>
      <label>Timezone:</label>
      <input type="text" name="timezone" value="{{ timezone }}" class="half"> hours &plusmn; UTC<br>
      <input type="submit" value="Register" />
    </fieldset>
    </form>
  </div>
  <br>

  <p>Boat Alarm sends notification emails
  from <b>boatalarmservice@gmail.com</b>, so ensure this address is
  not treated as spam by your email provider.
  <a href="/help">Learn more</a> about Boat Alarm.
  </p>

  </div><!-- body-content -->

  <div id="footer-content">
  <p><em>{{ disclaimer }}</em></p>
  </div>
  </body>
</html>
